asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
freeze==1.0.10
funcy==1.11
idna==2.7
prettytable==0.7.2
pycparser==2.19
pyeoskit==0.3.0
PyJWT==1.6.4
PyMySQL==0.9.2
PySocks==1.6.8
pytz==2018.7
requests==2.20.1
requests-unixsocket==0.1.5
six==1.11.0
toolz==0.9.0
tornado==5.1.1
twilio==6.21.0
urllib3==1.24.1
yunpian-python-sdk==1.0.0
